<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlfc.mapper.EmpMapper">
    <!-- 根据ID批量删除用户 -->
    <delete id="deleteEmpById" parameterType="int[]">
        DELETE FROM emp
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>